/Library/
/Logs/
/UserSettings/
/Temp
*.sin
.DS_Store
.vscode/
.vscode/settings.json
*.backup
*.csproj
*.cache
*.sln
.vs/
obj/
*.csproj
*.zip
ProjectSettings/BurstAotSettings_WebGL.json
ProjectSettings/CommonBurstAotSettings.json
ProjectSettings/Packages/com.unity.connect.share/Settings.json
WebGL Builds/Build/WebGL Builds.data.gz
WebGL Builds/Build/WebGL Builds.framework.js.gz
WebGL Builds/Build/WebGL Builds.loader.js
WebGL Builds/Build/WebGL Builds.wasm.gz
WebGL Builds/dependencies.txt
WebGL Builds/GUID.txt
WebGL Builds/index.html
WebGL Builds/ProjectVersion.txt
WebGL Builds/TemplateData/favicon.ico
WebGL Builds/TemplateData/fullscreen-button.png
WebGL Builds/TemplateData/MemoryProfiler.png
WebGL Builds/TemplateData/progress-bar-empty-dark.png
WebGL Builds/TemplateData/progress-bar-empty-light.png
WebGL Builds/TemplateData/progress-bar-full-dark.png
WebGL Builds/TemplateData/progress-bar-full-light.png
WebGL Builds/TemplateData/style.css
WebGL Builds/TemplateData/unity-logo-dark.png
WebGL Builds/TemplateData/unity-logo-light.png
WebGL Builds/TemplateData/webgl-logo.png
WebGL Builds/TemplateData/webmemd-icon.png
webgl_sharing
